.paper_bar {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  border: 1px solid #dde0e5;
  border-radius: 3px;
  margin-top: 20px;
}

.paper_bar > div {
  margin: 4px;
  padding: 8px;
}

.paper-container {
  display: flex;
  flex-flow: column;
  background: #dde0e5;
  border: 1px solid #dde0e5;
  padding: 0px;
  border-radius: 3px;
  margin-bottom: 100px;
}

.paper-container > a > div {
  background: white;
  margin-top: 1px;
  padding: 12px;
  display: flex;
  flex-flow: row;
  justify-content: space-between
}

.paper-container > div > div:last-child,
.paper-container a > div > div:last-child {
  min-width: 100px;
  text-align: center;
}

.paper-container a {
  text-decoration: none;
  color: black;
}

.paper-container > a > div:hover {
  background: lightseagreen;
  color: white;
}

.paper-container > a > div > div {
  padding: 4px;
}

.paper-container > div {
  background: #f6f8fa;
  padding: 12px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.show-paper {
  display: flex;
  flex-flow: column;
  padding: 0px;
}

.item-container {
  border: thin solid #dde0e5;
  border-radius: 3px;
  margin-bottom: 4px;
}

.paper-user > div:hover {
  color: white;
  background: lightseagreen;
}

.item-container > div:first-child {
  background: #f6f8fa;
  padding: 12px;
  border-bottom: thin solid #dde0e5;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.item-container > div:first-child > a {
  text-decoration: none;
  color: lightseagreen;
}

.item-container > div:first-child:hover {
  color: black;
}

.item-container > div {
  padding: 8px;
}

.paper-flow{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.left-side{
  margin-right: 4px;
  max-width: 800px;
  width: 100%;
}

.right-side{
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  max-width: 200px;
}

.right-side button{
  background: #f6f8fa;
  cursor: pointer;
  border: thin solid #dde0e5;
  padding: 12px;
  border-radius: 3px;
  margin-bottom: 6px;
  margin-left: 20px;
}

.right-side button:hover{
  background: lightseagreen;
  color: white;
}

.show-review{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
