{% extends 'layout.html' %} {% block content %}

<form action="/admin/set-role" method="post">
    <div>
        <select multiple name="user_ids" class="select-box">
            {% for user in users %}
            {% if user['id'] != session['user_id'] %}
            <option value="{{user['id']}}"> {{user['username']}} </option>
            {% endif %}
            {% endfor %}
        </select>
        <div>
            <select name="role">
                {% for role in roles %}
                <option value="{{role.name}}"> {{role.name.upper()}} </option>
                {% endfor %}
            </select>
            <button type="submit" value="Set Role"> Set Role </button>
        </div>
    </div>
</form>

{% endblock %}