{% extends 'layout.html' %} {% block content %}

<form action="/admin/set-role" method="post">
    <div>
        <select multiple name="user_ids" class="select-box">
            {% for user in users %}
            <option value="{{user['user_id']}}"> {{user['username']}} -- {{user['role']}} </option>
            {% endfor %}
        </select>
        <div>
            <select name="role">
                {% for role in roles %}
                <option value="{{role.name}}"> {{role.name.upper()}} </option>
                {% endfor %}
            </select>
            <button type="submit" value="Set Role"> Set Role </button>
        </div>
    </div>
</form>

{% endblock %}