{% extends "layout.html" %} {% block content %}
<div class="container">
    <form action="{{url_for('council_edit_paper', paper_id=paper.id)}}" method="post" onsubmit="selectAllOptions(reviewerId);"
        class="paper-flow">
        <div class="left-side">
            <div class="item-container">
                <div>
                    <div>Title</div>
                </div>
                <div>{{paper.title}}</div>
            </div>
            <div class="item-container">
                <div>Abstract</div>
                <div>{{paper.abstract}}</div>
            </div>
            <div class="title">Reviews</div>
            <div class="select-box">
                <select multiple id="notYetReviwerId" name="allUsers">
                    {% for user in filtered_user %}
                    <option value="{{user['id']}}"> {{user['username']}}</option>
                    {% endfor %}
                </select>

                <div>
                    <div onClick="put(notYetReviwerId, reviewerId)"> Add &rarr; </div>
                    <div onClick="put(reviewerId, notYetReviwerId)">&larr; Remove </div>
                </div>

                <select multiple id="reviewerId" name="reviewer">
                    {% for review in paper.reviews %}
                    <option value="{{review.user['id']}}"> {{review.user['username']}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>Set status</div>
            <br>
            <button type="submit" name="submit" value="approve"> approve </button>
            <button type="submit" name="submit" value="reject"> reject </button>
            <button type="submit" name="submit" value="under_review"> review </button>
        </div>
        <div class="right-side">
            <div class="item-container">
                <div>Actions</div>
                <div>
                    <button type="submit" name="submit" value="save">save and continue</button>
                </div>
                <div>
                    <button type="submit" name="submit" value="redirect">save</button>
                </div>
                <div>
                    <button type="submit" name="submit" value="cancel">cancel</button>
                </div>
            </div>
            <div class="item-container paper-user">
                <div>Status</div>
                <div class="show-review">
                    <div>{{paper.get_status()}}</div>
                </div>
            </div>
            <div class="item-container paper-user">
                <div>Authors</div>
                {% for author in paper.authors %}
                <div>
                    {{author.user.username}}
                </div>
                {% endfor %}
            </div>
            <div class="item-container paper-user">
                <div>Reviews</div>
                <div class="show-review">
                    <div>summery</div>
                    <div>{{paper.get_score()}}</div>
                </div>
                {% for review in paper.reviews %}
                <div class="show-review">
                    <div>{{review.user.username}}</div>
                    <div>{{review.score}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </form>
</div>
{% endblock %}