{% extends "layout.html" %} {% block content %}
<div class="container">
    <form action="{{url_for('edit_paper', paper_id=paper.id)}}" method="post" onsubmit="selectAllOptions(collaboratorsId);" class="paper-flow">
        <div class="left-side">
            <div class="group">
                <input type="text" name="title" required value="{{paper.title}}">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Title</label>
            </div>
            <div class="title group">
                <textarea name="abstract" rows="5" cols="40" required>{{paper.abstract}}</textarea>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Abstract</label>
            </div>
            <div class="title">Authors</div>
            <div class="select-box">
                <select multiple id="allUsersId" name="allUsers">
                    {% for user in filtered_user %}
                    <option value="{{user['id']}}"> {{user['username']}}</option>
                    {% endfor %}
                </select>
                <div>
                    <div onClick="put(allUsersId, collaboratorsId)"> Add &rarr; </div>
                    <div onClick="put(collaboratorsId, allUsersId)"> &larr; Remove </div>
                </div>
                <select multiple id="collaboratorsId" name="collaborators">
                    {% for author in paper.authors %}
                    <option value="{{author.user['id']}}"> {{author.user['username']}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="right-side">
            <div class="item-container">
                <div>Actions</div>
                <div>
                    <button type="submit" name="submit" value="redirect">save and continue</button>
                </div>
                <div>
                    <button type="submit" name="submit" value="save">save</button>
                </div>
                <div>
                    <button type="submit" name="submit" value="cancel">cancel</button>
                </div>
            </div>
            <div class="item-container paper-user">
                <div>Status</div>
                <div>
                    {{paper.get_status()}}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}