<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/styles/nav.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/dropdown.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/paper.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/material_input.css?q=1280549780" type="text/css" media="screen" charset="utf-8"
    />
    <link rel="stylesheet" href="/static/styles/select-box.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/signinup.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/radio-group.css?q=1280549780" type="text/css" media="screen" charset="utf-8"
    />
    <script type="text/javascript" src="/static/jquery.min.js"></script>

    <script>
        $(function () {
            var loc = window.location.href; // returns the full URL
            if (/paper/.test(loc)) {
                $('#paper_link').addClass('active');
            }
            if (/submission/.test(loc)) {
                $('#submission_link').addClass('active');
            }
            if (/signup/.test(loc)) {
                $('#signup').addClass('active');
            }
            if (/signin/.test(loc)) {
                $('#signin').addClass('active');
            }
            if (/authored/.test(loc)){
                $('#submitted').addClass('active');
                $('#overview').addClass('active');
            }
            if (/to_review/.test(loc)){
                $('#to_review').addClass('active');
                $('#overview').addClass('active');
            }
        });
    </script>

    <script>

        function selectAllOptions(select, select2) {
            for (var i = 0; i < select.options.length; i++) {
                select.options[i].selected = true;
            }
            for (var i = 0; i < select2.options.length; i++) {
                select2.options[i].selected = true;
            }
        }

        function put(from, to) {
            let keep = [];
            for (let i = 0; i < from.options.length; i++) {
                if (from.options[i].selected === true) {
                    var opt = document.createElement('option');
                    opt.value = from.options[i].value;
                    opt.innerHTML = from.options[i].innerHTML;
                    to.appendChild(opt);
                } else {
                    keep.push(from.options[i]);
                }
            }
            from.innerText = null;
            keep.forEach(element => from.options.add(element));
            sortSelect(to);
            sortSelect(from);
        }

        function sortSelect(selElem) {
            var tmpAry = new Array();
            for (var i = 0; i < selElem.options.length; i++) {
                tmpAry[i] = new Array();
                tmpAry[i][0] = selElem.options[i].text;
                tmpAry[i][1] = selElem.options[i].value;
            }
            tmpAry.sort();
            while (selElem.options.length > 0) {
                selElem.options[0] = null;
            }
            for (var i = 0; i < tmpAry.length; i++) {
                var op = new Option(tmpAry[i][0], tmpAry[i][1]);
                selElem.options[i] = op;
            }
            return;
        }
    </script>
</head>

<body>

    <header>
        <div class="header_bar">
            <div>
                {% if session.logged_in %}
                <div class="dropdown">
                    <div class="dropbtn">{{session.username}} &#x25BE;</div>
                    <div class="dropdown-content">
                        <a href="/">Overview</a>
                        <a href="/signout">Logout</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="header">
            <div>
                <h1>Paper Review Platform</h1>
            </div>
        </div>
        {% if session.logged_in %}
        <div class="nav">
            <div>
                <div id="overview">
                    <a href="{{ url_for('root') }}">
                        <div>
                            Overview
                        </div>
                    </a>
                </div>
                <div id="paper_link">
                    <a href="{{ url_for('paper') }}">
                        <div>
                            Paper
                        </div>
                    </a>
                </div>
                <div id="submission_link">
                    <a href="{{ url_for('submission') }}">
                        <div>
                            Submit Paper
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="nav">
            <div>
                <div id="signup">
                    <a href="{{ url_for('signup') }}">
                        <div>
                            Create Account
                        </div>
                    </a>
                </div>
                <div id="signin">
                    <a href="{{ url_for('signin') }}">
                        <div>
                            Login
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </header>
    <div class="content">
        <div>
            {% block content %} {% endblock %}
        </div>
    </div>
</body>

</html>