<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles/nav.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/dropdown.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/paper.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/material_input.css?q=1280549780" type="text/css" media="screen" charset="utf-8"
    />
    <link rel="stylesheet" href="/static/styles/select-box.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/signinup.css?q=1280549780" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/radio-group.css?q=1280549780" type="text/css" media="screen" charset="utf-8"
    />
    <script type="text/javascript" src="/static/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="/static/javascript/main.js?q=1280549780"></script>
</head>

<body>
    <header>
        <div class="header_bar">
            {% if session.logged_in %}
            <div class="dropdown">
                <div class="dropbtn">{{session.username}} &#x25BE;</div>
                <div class="dropdown-content">
                    <a href="/">Overview</a>
                    <a href="/signout">Logout</a>
                </div>
            </div>
            {% endif %}
            <div class="header">
                <div>
                    Paper Review Platform
                </div>
            </div>
        </div>
        {% if session.logged_in %}
        <div class="nav">
            <div>
                <div id="overview">
                    <a href="{{ url_for('root') }}">
                        <div>
                            Overview
                        </div>
                    </a>
                </div>
                <div id="paper_link">
                    <a href="{{ url_for('paper') }}">
                        <div>
                            Paper
                        </div>
                    </a>
                </div>
                <div id="submission_link">
                    <a href="{{ url_for('submission') }}">
                        <div>
                            Submit Paper
                        </div>
                    </a>
                </div>
                {% if session['role'] == "council" or session['role'] == "admin" %}
                <div id="chair">
                    <a href="{{ url_for('conference_chair') }}">
                        <div>
                            Conference Chair
                        </div>
                    </a>
                </div>
                {% endif %} {% if session['role'] == "admin" %}
                <div id="admin">
                    <a href="{{ url_for('admin_page') }}">
                        <div>
                            admin
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="nav">
            <div>
                <div id="signup">
                    <a href="{{ url_for('signup') }}">
                        <div>
                            Create Account
                        </div>
                    </a>
                </div>
                <div id="signin">
                    <a href="{{ url_for('signin') }}">
                        <div>
                            Login
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </header>
    <div class="content">
        <div>
            {% block content %} {% endblock %}
        </div>
    </div>
</body>

</html>