{% extends "layout.html" %} {% block nav_bar %}
<div class="nav">
    <div>
        <div id="paper_link">
            <a href="{{ url_for('paper') }}">
                <div>
                    Paper
                </div>
            </a>
        </div>
        <div id="submission_link">
            <a href="{{ url_for('submission') }}">
                <div>
                    Submissions
                </div>
            </a>
        </div>
    </div>
</div>
<div class="content">
    <div>
        {% block content %} {% endblock %}
    </div>
</div>
{% endblock %}