{% extends "layout.html" %} {% block content %}
<div class="container show-paper paper-flow">
    <div class="left-side">
        <div class="item-container">
            <div>
                <div>Title</div>
                {% if can_edit %}
                <a href="{{url_for('edit_paper', paper_id=paper.id)}}">
                    <div>Edit</div>
                </a>
                {% endif %}
            </div>
            <div>{{paper.title}}</div>
        </div>
        <div class="item-container">
            <div>Abstract</div>
            <div>{{paper.abstract}}</div>
        </div>
    </div>
    <div class="right-side">
        <div class="item-container paper-user">
            <div>Authors</div>
            {% for author in paper.authors %}
            <div>
                {{author.user.username}}
            </div>
            {% endfor %}
        </div>
        <div class="item-container paper-user">
            <div>Status</div>
            <div>
                {{paper.get_status()}}
            </div>
        </div>
    </div>
</div>
{% endblock %}